body{
    font-family: 'Itim', cursive;
    width: 900px;
    margin: auto;
}

header{
    border-bottom: 2px solid black;
}

h1{
    position: relative;
    text-align: center;
}

nav li{
    list-style: none;
    display: inline-block;
}

section{
    background-color: #cecece;
    padding: 4px;
    margin: 30px;
}

#Aventura{
    width: 100px;
    background-color: yellow;
    text-align: center;
    padding: 15px;
}

#Drama{
    width: 80px;
    background-color: orange;
    text-align: center;
    padding: 15px;
}

#Ficcao{
    width: 80px;
    background-color: red;
    text-align: center;
    padding: 15px;
}